.sign-in-container {
    margin-top: 30vh;
    max-width: 25% !important;
    min-width: 500px;
}

.sign-in-title {
    font-family: "DewiEB", serif !important;
    font-size: 3.8vh !important;
    color: white !important;
}

.sign-in-input {
    margin-top: 1vh !important;
}

.sign-in-input div input {
    font-family: "DewiER", serif !important;
    color: white !important;
}

label {
    font-family: "DewiEL", serif !important;
    font-size: 1.7vh !important;
    color: white !important;
}

.MuiFilledInput-root {
    background-color: #141414 !important;
}

.sign-in-button {
    margin-top: 0.8vh !important;
    font-family: "DewiEB", serif !important
}

.sign-up-link-wrapper {
    margin-top: 0.5vh !important;
}

.sign-up-link {
    font-family: "DewiEL", serif !important
}
