.header-wrapper {
    position: fixed;
    display: flex;
    margin-top: 2vh;
    flex-direction: column;
    margin-left: 85%;
}

.header-username-profile {
    display: flex;
    flex-direction: row;
}

.header-username {
    display: flex;
    font-family: "DewiEB", serif;
    color: white;
    font-size: 22px;
    padding-top: 1vh;
    padding-left: 0.5vw;
}

.header-nav-link {
    color: white !important;
    text-decoration: underline !important;
    font-family: "DewiEL", serif !important;
    font-size: 20px;
    margin-top: 1vh;
    padding-left: 3.3vw;
    padding-top: 0.5vh;
    transition: 0.1s linear;
}

.header-nav-link:hover {
    color: #3f51b5 !important;
}
